@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: theme('colors.steel');
  background: linear-gradient(240deg, #E0EEFF -50%, #B0CEF5 10%, #B0CEF5 20%, #E0EEFF 50%, #E0EEFF 70%, #E5D7D8 120%, #E0EEFF 140%);
  min-height: 100vh;
  color: theme('colors.text');
}

a {
  color: theme('colors.link');
}

a:focus {
  outline: theme('outline.red');
  color: theme('colors.link-hover');
}

a:hover {
  text-decoration: underline;
  color: theme('colors.link-hover');
}

.portrait {
  filter: drop-shadow(0px 3px 100px #B2CFF5);
  border-radius: 9999px;
}

.bg {
  position: fixed;
  height: 100vh;
  top: 0;
  width: 60vw;
  left: 50%;
  background: theme('colors.steel');
  background: linear-gradient(90deg, rgba(224, 238, 255, 0) 0%, #E0EEFF 47.4%, rgba(224, 238, 255, 0) 100%);
  transform: translateX(-50%);
}
